<html lang='en-GB'>
<head>
  <meta charset='UTF-8'>
  <title>Hire Mark Norman Francis</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' href='/hire.css'>
  <link rel='stylesheet' href='/print.css' media='print'>
  <link href='//fonts.googleapis.com/css?family=Lato:400,400italic,700&amp;subset=latin' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Vollkorn:700&amp;text=FMNacikmnors%20' rel='stylesheet' type='text/css' />
</head>
<body class='{% block body_class %}{% endblock %}'>

  <header>
    <h1>
      <img src='/norm.jpg' alt='' width='200' height='200'>
      <span>Mark Norman Francis</span>
    </h1>
    <address>
      <span><a href='mailto:norm@201created.com'>norm@201created.com</a></span>
      <span><a id='linkedin' href='http://www.linkedin.com/in/marknormanfrancis'>LinkedIn profile</a></span>
    </address>
    <nav>
      <ul id='main-nav'>
        <li>
          {% if current_url == '/' %}
            <em>Summary</em>
          {% else %}
            <a href='/'>Summary</a>
          {% endif %}
        </li>
        <li>
          {% if current_url == '/skills/' %}
            <em>Skills</em>
          {% else %}
            <a href='/skills/'>Skills</a>
          {% endif %}
        </li>
        <li>
          {% if current_url == '/employment/' %}
            <em>Employment</em>
          {% else %}
            <a href='/employment/'>Employment</a>
          {% endif %}
        </li>
        <li>
          {% if current_url == '/recommendations/' %}
            <em>Recommendations</em>
          {% else %}
            <a href='/recommendations/'>Recommendations</a>
          {% endif %}
        </li>
        <li>
          {% if current_url == '/printable' %}
            <em>Print/download version</em>
          {% else %}
            <a href='/printable'>Print/download version</a>
          {% endif %}
        </li>
      </ul>
      <ul id='breadcrumbs'>
        {% block breadcrumbs_list %}{% endblock %}
      </ul>
    </nav>
  </header>

  {% block body %}{% endblock %}

</body>
</html>
